<div id="<%= dom_id tweet %>" class="tweet mx-auto">
  <div class="flex flex-1">
    <img class="tweet-profile-pic" src="<%= tweet.user.image_url %>" alt="User Profile Picture">
  </div>
  <div class="flex flex-2">
    <p class="tweet-name"><%= tweet.user.display_name %></p>
    <p class="tweet-username">@<%= tweet.user.username %> · <small class="tweet-timestamp"><%= time_ago_in_words tweet.created_at %> ago</small></p>
    <p class="tweet-body">
      <%= tweet.body %>
    </p>
  </div>
</div>